*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right,rgb(93, 193, 204) ,rgb(217, 242, 137));
    background-size: 200%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0%{background-position: 0;}
    25%{background-position: 50%;}
    50%{background-position: 100%;}
    75%{background-position: 50%;}
    100%{background-position: 0%;}
}
.wrapper{
    background: #ffffff92;
    width:400px;
    border-radius: 10px;
}
header i{
    cursor: pointer;
    font-size: 25px;
    margin-right: 7px;
}
.wrapper header{
    color:rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 500;
    padding:16px  15px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbb;
}
.wrapper.active header i{
    font-size: 21px;
    margin-left: 5px;
}
.wrapper .input-part{
    margin:20px 25px 30px;
    /*display:none;*/
}
.wrapper.active .input-part{
    display:none;
}
.input-part .info-txt{
    font-size:15px;
    display:none;
    text-align: center;
    padding:12px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.info-txt.error{
    display:block;
    color:rgb(178, 19, 19);
    /*background:rgb(246, 168, 168) ;
    border-radius: 5px;*/
}
.info-txt.pending{
    display:block;
    color:rgb(32, 110, 205);
    /*background:rgb(174, 215, 225) ;
    border-radius: 5px;*/
}
.input-part :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
}
.input-part input{
    text-align: center;
    /*border: 1px solid #bfbfbb;*/
    background-color: #ffffffa1;
}
.input-part button{
    color:black;
    background-image: linear-gradient(to right,rgb(92, 193, 204) ,rgb(217, 242, 137));
    background-size: 200%;
    animation: gradient 5s ease infinite;
    cursor: pointer;
}
.input-part input:is(:focus,:valid){
    border: 2px solid rgb(26, 146, 177);
}
.input-part .seperator{
    height: 1px;
    width:100%;
    background: #00000070;
    margin:24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seperator::before{
    content:"or";
    font-size: 19px;
    color:#00000070;
}
.wrapper .weather-part{
    margin:30px 0 0 ;
    display: none;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
.wrapper.active .weather-part{
    display:flex;
}
.weather-part .temp{
    display:flex;
    font-size: 50px;
    font-weight: 500;
}
.weather-part .temp .deg{
    font-size: 40px;
    margin:2px 1px 0 0;
    display:flex;
}
.weather-part .temp .num{
    font-weight: 500;
}
.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin:5px 20px 10px;
    padding: 6px;
}
.weather-part .location{
    font-size: 20px;
    display:flex;
    align-items: center;
    margin-bottom:30px;
}
.location i{
    font-size: 20px;
    margin-right: 5px;
}
.weather-part .bottom-details{
    width:100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-top:1px solid #bfbfbb;
}
.bottom-details .col{
    width:100%;
    display: flex;
    margin:7px;
    padding:7px 0;
    align-items: center;
    justify-content: center;
}
.col i{
    font-size: 35px;
    color:#3092bb;
    padding:7px;
}
.col.humidity{
    border-left: 2px solid #bfbfbf;
}
.details .temp,.humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .deg{
    margin:0;
    font-size:17px;
    padding:0px 2px 0px 1px;
}
.details p{
    font-size: 16px;
    margin-top:-1px;
}